<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>VUE</title>
    <script type="application/javascript" src="libs/vue.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<div class="container theme-showcase" id="speechScript">
    <div v-for="index in  prevQuestions">
        <div class="text-center jumbotron">
            <h3 > {{questions[index].question}}</h3>
        </div>
    </div>


    <div class="text-center jumbotron">
        <h2> {{ questions[currentQuestion].question }}</h2>
        <button type="button" class="btn btn-lg btn-default margin" v-on:click="switchQuestion(answer.qId)"
                v-for="answer in  questions[currentQuestion].answers">
            {{ answer.text }}
        </button>
    </div>

</div>

<script type="application/javascript" src="js/vues.js"></script>
</body>
</html>


